:root {
  	--main-bg: #10141c;
	--main-fg: #bfbdb6;
	--navbar-bg: #242936;
	--navbar-fg: #f0f6fc;
	--nav-fg-hover: #ffffffb3;

  /*used for background and area coloring*/
  --nord0: #2e3440;

  /*used for elevated, more prominent or focused UI elements like panels, floating popups*/
  --nord1: #3b4252;

  /*For dark ambiance designs, it is used to colorize the currently active text edi
  tor line as well as selection- and text highlighting color.*/
  --nord2: #434c5e;

  /*In the UI scope used as pseudoclass color for disabled elements.
  For dark ambiance designs, it is used for UI elements like indent- and wrap guide marker.*/
  --nord3: #4c566a;

  /*In the UI scope used as semi-light background depending on the theme shading design.*/
  --nord4: #d8dee9;

  /*Used as semi-light background depending on the theme shading design.*/
  --nord5: #e5e9f0;

  /*In the UI scope used as background, selection- and highlight color depending on the theme shading design.*/
  --nord6: #eceff4;

  /*
  Used for UI elements that should, next to the primary accent color nord8, 
  stand out and get more visual attention.
  */
  --nord7: #8fbcbb;

  /*
  Used for primary UI elements with main usage purposes that require the most visual attention.
  */
  --nord8: #88c0d0;

  /*
  Used for secondary UI elements that also require more visual attention than other elements.
  */
  --nord9: #81a1c1;

  /*
  Used for tertiary UI elements that require more visual attention than default elements.
  */
  --nord10: #5e81ac;

  /*
  Red
  */
  --nord11: #bf616a;

  /*
  Orange
  */
  --nord12: #d08770;

  /*
  Yellow?
  */
  --nord13: #ebcb8b;

  /*
  Green
  */
  --nord14: #a3be8c;

  /*
  Purple
  */
  --nord15: #b48ead;
}



/*
body {
	color: var(--main-fg);
	background-color: var(--main-bg);
}

.ng-scope body#serverapp { padding-top: 100px; }

.text-muted { color: var(--nav-fg-hover) };

.navbar { border: none; }

.navbar-fixed-top {
	border-bottom-width: 2px;
	margin-bottom: 10px;
	height: 50px;
}

.navbar-default {
	color: var(--navbar-fg);
	background-color: var(--navbar-bg);
	font-weight: bold;
}

.navbar-nav {
	font-weight: bold;
	font-size: 16px;
}

ul.nav:nth-child(3) > li:nth-child(1) > a:nth-child(1) {
 padding-top: 5px;
 font-weight: normal;
}


.navbar-default .navbar-nav > li > a {
	color: var(--navbar-fg);
}

.navbar-default .navbar-nav > li > a:hover {
	color: var(--nav-fg-hover);
}

.navbar-default .navbar-nav > .active > a {
	background-color: var(--main-bg);
}

.navbar-default .navbar-nav > .active > a:hover {
	background-color: var(--main-bg);
	color: var(--nav-fg-hover);
}
*/